# Best Days to Host an Outdoor Party at the Code Louisville Office

Libraries

In [3]:
import requests
import pandas as pd
import sqlite3
from datetime import date
import calendar
import matplotlib.pyplot as plt

In [4]:
DS_API_KEY = "00b999d3b38cbf3fd6f7c14b01244f79"
LAT = 38.2535367
LONG = -85.7481863

# loop to pull all dates to target for project

In [5]:
# Returns all Saturdays, Sundays, and Holiday Mondays in 2019
potential_dates = []
year = 2019
c = calendar.TextCalendar(calendar.SUNDAY)
for m in range(1,13):
    for i in c.itermonthdays(year,m):
        if i != 0:                                      #calendar constructs months with leading zeros (days belongng to the previous month)
            day = date(year,m,i)
            if day.weekday() == 0:
                if m == 2 and 15<= i <= 21: #third Monday
                    potential_dates.append("{}-0{}-{}, President's Day".format(year,m,i))
                if m == 5 and 25 <= i <=31: #last monday of May
                    potential_dates.append("{}-0{}-{}, Memorial Day".format(year,m,i))
                if m == 9 and 1 <= i <=7: #1st Monday
                    potential_dates.append("{}-0{}-0{}, Labor Day".format(year,m,i))
                if m == 10 and 8 <= i <=14: #2nd Monday
                    potential_dates.append("{}-{}-{}, Columbus Day*".format(year,m,i))
                if m == 10 and 22 <= i <=28: #4th Monday
                    potential_dates.append("{}-{}-{}, Veterans Day".format(year,m,i))
            if day.weekday() == 5 or day.weekday() == 6: #if its Saturday or Sunday
                if m < 10:
                    if i < 10:
                        potential_dates.append("{}-0{}-0{}".format(year,m,i))
                    else:
                        potential_dates.append("{}-0{}-{}".format(year,m,i))
                elif m > 9 and i <10:
                    potential_dates.append("{}-{}-0{}".format(year,m,i))
                else:
                    potential_dates.append("{}-{}-{}".format(year,m,i))
 


print(potential_dates)

['2019-01-05', '2019-01-06', '2019-01-12', '2019-01-13', '2019-01-19', '2019-01-20', '2019-01-26', '2019-01-27', '2019-02-02', '2019-02-03', '2019-02-09', '2019-02-10', '2019-02-16', '2019-02-17', "2019-02-18, President's Day", '2019-02-23', '2019-02-24', '2019-03-02', '2019-03-03', '2019-03-09', '2019-03-10', '2019-03-16', '2019-03-17', '2019-03-23', '2019-03-24', '2019-03-30', '2019-03-31', '2019-04-06', '2019-04-07', '2019-04-13', '2019-04-14', '2019-04-20', '2019-04-21', '2019-04-27', '2019-04-28', '2019-05-04', '2019-05-05', '2019-05-11', '2019-05-12', '2019-05-18', '2019-05-19', '2019-05-25', '2019-05-26', '2019-05-27, Memorial Day', '2019-06-01', '2019-06-02', '2019-06-08', '2019-06-09', '2019-06-15', '2019-06-16', '2019-06-22', '2019-06-23', '2019-06-29', '2019-06-30', '2019-07-06', '2019-07-07', '2019-07-13', '2019-07-14', '2019-07-20', '2019-07-21', '2019-07-27', '2019-07-28', '2019-08-03', '2019-08-04', '2019-08-10', '2019-08-11', '2019-08-17', '2019-08-18', '2019-08-24', '2019-08-25', '2019-08-31', '2019-09-01', '2019-09-02, Labor Day', '2019-09-07', '2019-09-08', '2019-09-14', '2019-09-15', '2019-09-21', '2019-09-22', '2019-09-28', '2019-09-29', '2019-10-05', '2019-10-06', '2019-10-12', '2019-10-13', '2019-10-14, Columbus Day*', '2019-10-19', '2019-10-20', '2019-10-26', '2019-10-27', '2019-10-28, Veterans Day', '2019-11-02', '2019-11-03', '2019-11-09', '2019-11-10', '2019-11-16', '2019-11-17', '2019-11-23', '2019-11-24', '2019-11-30', '2019-12-01', '2019-12-07', '2019-12-08', '2019-12-14', '2019-12-15', '2019-12-21', '2019-12-22', '2019-12-28', '2019-12-29']

In [6]:
len(potential_dates)

109

# API call with nested *Summary* data to SQL DB and .csv

In [30]:
def request_loop(list,year,years_back):
    starting_year = int(year)- int(years_back)
    ending_year = int(year)
    mm_dd_list =[]
    year_list =[]
    #pull out list item by index
    for target_day in list:
        if len(target_day)> 10:
            mm_dd = target_day[5:10]
        else:
            mm_dd = target_day[5:]
        for year in range(starting_year, ending_year):
            try:
                dark_sky_request = requests.get("https://api.darksky.net/forecast/" + DS_API_KEY + "/" + LAT +"," + LONG + "," + str(year) + "-" + mm_dd + "T00:00:00?exclude=currently,flags,alerts")
                if target_day == list[0] and year == starting_year:
                    weather_summary_dataframe = pd.DataFrame.from_dict(dark_sky_request.json()['daily']['data'], orient = 'columns')
                else:
                    weather_summary_dataframe = weather_summary_dataframe.append(pd.DataFrame.from_dict(dark_sky_request.json()['daily']['data'], orient = 'columns'))
                mm_dd_list.append(mm_dd)
                year_list.append(stryear)
            except KeyError:
                print(str(year)+ '-' + mm_dd)
                continue
    weather_summary_dataframe["MM_DD"]= mm_dd_list
    weather_summary_dataframe["Year"]= year_list
    weather_summary_dataframe.to_csv('weather_summary_dataframe.csv')
    weather_summary_dataframe.to_sql("weather summary",sqlite3.connect("Weather_summary.db"), if_exists ="replace")
    return weather_summary_dataframe
    

request_loop(potential_dates,2019,10)

TypeError: can only concatenate str (not "float") to str

In [ ]:
def request_loop(list,year,years_back):
    starting_year = int(year)- years_back
    ending_year = int(year)
    #pull out list item by index
    for target_day in list:
        if len(target_day)> 10:
            mm_dd = target_day[5:10]
        else:
            mm_dd = target_day[5:]
        for year in range(starting_year, ending_year):
            try:
                dark_sky_request = requests.get("https://api.darksky.net/forecast/" + DS_API_KEY + "/" + LAT +"," + LONG + "," + str(year) + "-" + mm_dd + "T00:00:00?exclude=currently,flags,alerts")
                if target_day == '2019-01-05' and year == starting_year:
                    weather_summary_dataframe = pd.DataFrame.from_dict(dark_sky_request.json()['daily']['data'], orient = 'columns')
                    weather_summary_dataframe["MM_DD"]= mm-dd
                    weather_summary_dataframe["Year"]= str(year)
                else:
                    weather_summary_dataframe = weather_summary_dataframe.append(pd.DataFrame.from_dict(dark_sky_request.json()['daily']['data'], orient = 'columns'))
                    weather_summary_dataframe["MM_DD"]= weather_summary_dataframe["MM-DD"].append(mm_dd)
                    weather_summary_dataframe["Year"]= weather_summary_dataframe["Year"].append(str(year))
                print(str(year)+ '-' + mm_dd)
                continue
    weather_summary_dataframe.to_csv('weather_summary_dataframe.csv')
    return weather_summary_dataframe

In [5]:
all_weather = sqlite3.connect("Weather_summary.db")
potential_days = pd.read_sql_query("SELECT MM_DD, Year, apparentTemperatureHigh, apparentTemperatureLow, precipAccumulation FROM 'weather summary'",all_weather)
potential_days

,MM_DD,Year,apparentTemperatureHigh,apparentTemperatureLow,precipAccumulation
0,01-05,2009,33.56,30.57,NaN
1,01-05,2010,19.43,11.10,NaN
2,01-05,2011,36.80,26.28,NaN
3,01-05,2012,54.80,40.14,NaN
4,01-05,2013,45.04,36.93,NaN
5,01-05,2014,54.30,-13.89,NaN
6,01-05,2015,24.81,22.60,NaN
7,01-05,2016,37.79,20.80,NaN
8,01-05,2017,25.38,11.89,0.041
9,01-05,2018,20.01,-0.17,NaN
10,01-06,2009,40.89,26.75,NaN
11,01-06,2010,23.72,15.73,NaN
12,01-06,2011,36.11,23.14,NaN
13,01-06,2012,62.80,47.31,NaN
14,01-06,2013,37.86,20.67,NaN
15,01-06,2014,-10.99,-14.67,NaN
16,01-06,2015,32.88,8.26,NaN
17,01-06,2016,44.88,19.15,NaN
18,01-06,2017,17.65,5.30,NaN
19,01-06,2018,22.10,10.24,NaN
20,01-12,2009,37.85,33.09,NaN
21,01-12,2010,31.64,15.96,NaN
22,01-12,2011,15.46,11.32,NaN
23,01-12,2012,42.79,6.68,NaN
24,01-12,2013,67.31,58.78,NaN
25,01-12,2014,51.85,44.12,NaN
26,01-12,2015,38.23,19.21,NaN
27,01-12,2016,31.31,10.21,0.087
28,01-12,2017,68.18,33.01,NaN
29,01-12,2018,32.06,14.60,NaN
...,...,...,...,...,...
1060,12-22,2009,48.21,36.94,NaN
1061,12-22,2010,33.74,24.41,NaN
1062,12-22,2011,45.81,39.14,NaN
1063,12-22,2012,39.20,29.52,NaN
1064,12-22,2013,54.03,28.91,NaN
1065,12-22,2014,52.43,50.62,NaN
1066,12-22,2015,60.13,53.36,NaN
1067,12-22,2016,44.86,26.44,NaN
1068,12-22,2017,57.38,38.72,NaN
1069,12-22,2018,43.33,31.09,NaN
1070,12-28,2009,24.56,20.10,NaN
1071,12-28,2010,37.55,28.44,NaN
1072,12-28,2011,40.64,33.54,NaN
1073,12-28,2012,37.16,32.11,0.159
1074,12-28,2013,50.29,39.33,NaN
1075,12-28,2014,38.51,30.30,NaN
1076,12-28,2015,63.37,44.39,NaN
1077,12-28,2016,52.42,37.77,NaN
1078,12-28,2017,25.21,17.15,NaN
1079,12-28,2018,59.65,30.53,NaN
1080,12-29,2009,34.09,24.33,NaN
1081,12-29,2010,35.71,36.40,NaN
1082,12-29,2011,55.04,44.34,NaN
1083,12-29,2012,33.44,19.65,0.487
1084,12-29,2013,46.43,24.43,NaN
1085,12-29,2014,37.52,26.79,NaN
1086,12-29,2015,45.06,40.53,NaN
1087,12-29,2016,42.19,29.45,NaN
1088,12-29,2017,30.28,26.42,NaN
1089,12-29,2018,37.75,32.45,NaN

In [27]:
all_weather = sqlite3.connect("Weather_summary.db")
potential_days_2 = pd.read_sql_query('SELECT MM_DD AS "Date", apparentTemperatureHigh AS "Avg Apparent Highs", apparentTemperatureLow AS "Avg Apparent Lows" FROM "weather summary" WHERE AVG(apparentTemperatureHigh) < 80 AND AVG(apparentTemperatureLow) > 50 GROUP BY MM_DD', all_weather)
potential_days_2
# SELECT column_name(s)
# FROM table_name
# WHERE condition
# GROUP BY column_name(s)
# ORDER BY column_name(s);

DatabaseError: Execution failed on sql 'SELECT MM_DD AS "Date", apparentTemperatureHigh AS "Avg Apparent Highs", apparentTemperatureLow AS "Avg Apparent Lows" FROM "weather summary" WHERE AVG(apparentTemperatureHigh) < 80 AND AVG(apparentTemperatureLow) > 50 GROUP BY MM_DD': misuse of aggregate: AVG()

In [56]:
potential_days_count = potential_days.groupby('MM_DD').count()
potential_days_count

,Year,apparentTemperatureHigh,apparentTemperatureLow,precipAccumulation
MM_DD,,,,
01-12,1,1,1,0
02-02,1,1,1,0
02-09,1,1,1,0
02-10,2,2,2,0
02-16,1,1,1,0
02-17,1,1,1,0
02-23,2,2,2,0
03-03,1,1,1,0
03-09,4,4,4,0
03-10,3,3,3,0
03-16,2,2,2,0
03-17,2,2,2,0
03-23,3,3,3,0
03-24,3,3,3,0
03-30,2,2,2,0
03-31,2,2,2,0
04-06,4,4,4,0
04-07,5,5,5,0
04-13,3,3,3,0
04-14,6,6,6,0
04-20,1,1,1,0
04-21,5,5,5,0
04-27,4,4,4,0
04-28,6,6,6,0
05-04,3,3,3,0
05-05,3,3,3,0
05-11,3,3,3,0
05-12,3,3,3,0
05-18,5,5,5,0
05-19,4,4,4,0
...,...,...,...,...
09-14,3,3,3,0
09-15,3,3,3,0
09-21,5,5,5,0
09-22,2,2,2,0
09-28,6,6,6,0
09-29,8,8,8,0
10-05,5,5,5,0
10-06,1,1,1,0
10-12,7,7,7,0
10-13,4,4,4,0
10-14,5,5,5,0
10-19,1,1,1,0
10-20,3,3,3,0
10-26,5,5,5,0
10-27,3,3,3,0
10-28,1,1,1,0
11-02,2,2,2,0
11-03,4,4,4,0
11-09,1,1,1,0
11-10,2,2,2,0
11-16,1,1,1,0
11-17,2,2,2,0
11-23,2,2,2,0
11-30,1,1,1,0
12-01,2,2,2,0
12-07,1,1,1,0
12-14,1,1,1,0
12-15,1,1,1,0
12-21,3,3,3,0
12-22,2,2,2,0

In [29]:
precip_days = pd.read_sql_query("SELECT MM_DD,precipAccumulation FROM 'weather summary'",all_weather)
precip_count = precip_days.groupby('MM_DD').count()
precip_count.head(5)

       precipAccumulation
MM_DD
01-05                   1
01-06                   0
01-12                   1
01-13                   1
01-19                   0

In [28]:
hi_low_days = pd.read_sql_query("SELECT MM_DD, apparentTemperatureHigh, apparentTemperatureLow FROM 'weather summary'",all_weather)
avg_hi_low_days = hi_low_days.groupby('MM_DD').mean()
avg_hi_low_days.head()

       apparentTemperatureHigh  apparentTemperatureLow
MM_DD
01-05                   35.192                  18.625
01-06                   30.790                  16.188
01-12                   41.668                  24.698
01-13                   34.858                  22.158
01-19                   41.471                  29.881

In [ ]:
candidate_days = avg_hi_low_days.apparentTemperatureHigh(filter(lambda x: x < 80))

In [23]:
#groupby MM_DD avg high
hi_days = pd.read_sql_query("SELECT MM_DD, apparentTemperatureHigh FROM 'weather summary'",all_weather)
avg_hi_days = hi_days.groupby('MM_DD').mean()
avg_hi_days.head()

       apparentTemperatureHigh
MM_DD
01-05                   35.192
01-06                   30.790
01-12                   41.668
01-13                   34.858
01-19                   41.471

In [25]:
#groupby MM_DD avg Low
low_days = pd.read_sql_query("SELECT MM_DD, apparentTemperatureLow FROM 'weather summary'",all_weather)
avg_low_days = low_days.groupby('MM_DD').mean()
avg_low_days.head()

       apparentTemperatureLow
MM_DD
01-05                  18.625
01-06                  16.188
01-12                  24.698
01-13                  22.158
01-19                  29.881

In [24]:
#avg_days = avg_hi_days.merge(avg_low_days, on ='MM_DD')
avg_days_precip_count = avg_hi_low_days.merge(precip_count, on ='MM_DD')
avg_days_precip_count.head()

NameError: name 'avg_hi_low_days' is not defined

In [23]:
plt.plot(avg_days_precip_count)

NameError: name 'avg_days_precip_count' is not defined