# Best Days to Host an Outdoor Party at the Code Louisville Office

Libraries

In [31]:
import requests
import pandas as pd
import sqlite3
from datetime import date
import calendar
import matplotlib.pyplot as plt

In [32]:
DS_API_KEY = "00b999d3b38cbf3fd6f7c14b01244f79"
LAT = 38.2535367
LONG = -85.7481863

# loop to pull all dates to target for project

In [33]:
# Returns all Saturdays, Sundays, and Holiday Mondays in 2019
potential_dates = []
year = 2019
c = calendar.TextCalendar(calendar.SUNDAY)
for m in range(1,13):
    for i in c.itermonthdays(year,m):
        if i != 0:                                      #calendar constructs months with leading zeros (days belongng to the previous month)
            day = date(year,m,i)
            if day.weekday() == 0:
                if m == 2 and 15<= i <= 21: #third Monday
                    potential_dates.append("{}-0{}-{}, President's Day".format(year,m,i))
                if m == 5 and 25 <= i <=31: #last monday of May
                    potential_dates.append("{}-0{}-{}, Memorial Day".format(year,m,i))
                if m == 9 and 1 <= i <=7: #1st Monday
                    potential_dates.append("{}-0{}-0{}, Labor Day".format(year,m,i))
                if m == 10 and 8 <= i <=14: #2nd Monday
                    potential_dates.append("{}-{}-{}, Columbus Day*".format(year,m,i))
                if m == 10 and 22 <= i <=28: #4th Monday
                    potential_dates.append("{}-{}-{}, Veterans Day".format(year,m,i))
            if day.weekday() == 5 or day.weekday() == 6: #if its Saturday or Sunday
                if m < 10:
                    if i < 10:
                        potential_dates.append("{}-0{}-0{}".format(year,m,i))
                    else:
                        potential_dates.append("{}-0{}-{}".format(year,m,i))
                elif m > 9 and i <10:
                    potential_dates.append("{}-{}-0{}".format(year,m,i))
                else:
                    potential_dates.append("{}-{}-{}".format(year,m,i))
 


print(potential_dates)

['2019-01-05', '2019-01-06', '2019-01-12', '2019-01-13', '2019-01-19', '2019-01-20', '2019-01-26', '2019-01-27', '2019-02-02', '2019-02-03', '2019-02-09', '2019-02-10', '2019-02-16', '2019-02-17', "2019-02-18, President's Day", '2019-02-23', '2019-02-24', '2019-03-02', '2019-03-03', '2019-03-09', '2019-03-10', '2019-03-16', '2019-03-17', '2019-03-23', '2019-03-24', '2019-03-30', '2019-03-31', '2019-04-06', '2019-04-07', '2019-04-13', '2019-04-14', '2019-04-20', '2019-04-21', '2019-04-27', '2019-04-28', '2019-05-04', '2019-05-05', '2019-05-11', '2019-05-12', '2019-05-18', '2019-05-19', '2019-05-25', '2019-05-26', '2019-05-27, Memorial Day', '2019-06-01', '2019-06-02', '2019-06-08', '2019-06-09', '2019-06-15', '2019-06-16', '2019-06-22', '2019-06-23', '2019-06-29', '2019-06-30', '2019-07-06', '2019-07-07', '2019-07-13', '2019-07-14', '2019-07-20', '2019-07-21', '2019-07-27', '2019-07-28', '2019-08-03', '2019-08-04', '2019-08-10', '2019-08-11', '2019-08-17', '2019-08-18', '2019-08-24', '2019-08-25', '2019-08-31', '2019-09-01', '2019-09-02, Labor Day', '2019-09-07', '2019-09-08', '2019-09-14', '2019-09-15', '2019-09-21', '2019-09-22', '2019-09-28', '2019-09-29', '2019-10-05', '2019-10-06', '2019-10-12', '2019-10-13', '2019-10-14, Columbus Day*', '2019-10-19', '2019-10-20', '2019-10-26', '2019-10-27', '2019-10-28, Veterans Day', '2019-11-02', '2019-11-03', '2019-11-09', '2019-11-10', '2019-11-16', '2019-11-17', '2019-11-23', '2019-11-24', '2019-11-30', '2019-12-01', '2019-12-07', '2019-12-08', '2019-12-14', '2019-12-15', '2019-12-21', '2019-12-22', '2019-12-28', '2019-12-29']

In [34]:
len(potential_dates)

109

# API call with nested *Summary* data to SQL DB and .csv

In [35]:
import requests
import pandas as pd
import sqlite3

DS_API_KEY = "00b999d3b38cbf3fd6f7c14b01244f79"
LAT = "38.2535367"
LONG = "-85.7481863"

def request_loop(list,year,years_back):
    starting_year = int(year)- years_back
    ending_year = int(year)
    mm_dd_list =[]
    year_list =[]
    #pull out list item by index
    for target_day in list:
        if len(target_day)> 10:
            mm_dd = target_day[5:10]
        else:
            mm_dd = target_day[5:]
        for year in range(starting_year, ending_year):
            try:
                dark_sky_request = requests.get("https://api.darksky.net/forecast/" + DS_API_KEY + "/" + LAT +"," + LONG + "," + str(year) + "-" + mm_dd + "T00:00:00?exclude=currently,flags,alerts")
                if target_day == list[0] and year == starting_year:
                    weather_summary_dataframe = pd.DataFrame.from_dict(dark_sky_request.json()['daily']['data'], orient = 'columns')
                else:
                    weather_summary_dataframe = weather_summary_dataframe.append(pd.DataFrame.from_dict(dark_sky_request.json()['daily']['data'], orient = 'columns'))
                mm_dd_list.append(mm_dd)
                year_list.append(str(year))
            except KeyError:
                print(str(year)+ '-' + mm_dd)
                continue
    weather_summary_dataframe["MM_DD"]= mm_dd_list
    weather_summary_dataframe["Year"]= year_list
    weather_summary_dataframe.to_csv('weather_summary_dataframe.csv')
    weather_summary_dataframe.to_sql("weather summary",sqlite3.connect("Weather_summary.db"), if_exists ="replace")
    return weather_summary_dataframe
    

request_loop(potential_dates,2019,10)

C:\Users\james\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,apparentTemperatureHigh,apparentTemperatureHighTime,apparentTemperatureLow,apparentTemperatureLowTime,apparentTemperatureMax,apparentTemperatureMaxTime,apparentTemperatureMin,apparentTemperatureMinTime,cloudCover,dewPoint,...,time,uvIndex,uvIndexTime,visibility,windBearing,windGust,windGustTime,windSpeed,MM_DD,Year
0,33.56,1231189200,30.57,1231214400,33.56,1231189200,23.05,1231160400,0.98,24.15,...,1231131600,2,1231174800,9.46,9,10.92,1231138800,2.51,01-05,2009
0,19.43,1262732400,11.10,1262757600,19.54,1262743200,3.92,1262692800,0.71,8.44,...,1262667600,2,1262710800,9.21,280,14.39,1262721600,5.13,01-05,2010
0,36.80,1294257600,26.28,1294318800,36.80,1294257600,19.57,1294232400,0.50,16.30,...,1294203600,2,1294246800,9.96,125,3.58,1294257600,0.09,01-05,2011
0,54.80,1325797200,40.14,1325851200,54.80,1325797200,28.75,1325768400,0.07,26.75,...,1325739600,2,1325782800,10.00,207,13.26,1325797200,2.99,01-05,2012
0,45.04,1357412400,36.93,1357477200,45.04,1357412400,23.11,1357387200,0.43,25.00,...,1357362000,2,1357405200,9.29,207,8.83,1357405200,1.09,01-05,2013
0,54.30,1388948400,-13.89,1389013200,54.30,1388948400,13.76,1388980800,0.96,32.67,...,1388898000,2,1388941200,8.23,246,24.33,1388977200,1.62,01-05,2014
0,24.81,1420491600,22.60,1420513200,24.81,1420491600,10.47,1420462800,0.24,8.98,...,1420434000,2,1420477200,10.00,282,13.06,1420434000,2.27,01-05,2015
0,37.79,1452027600,20.80,1452074400,37.79,1452027600,16.41,1452002400,0.00,17.74,...,1451970000,2,1452013200,10.00,78,6.50,1452016800,1.67,01-05,2016
0,25.38,1483635600,11.89,1483682400,25.38,1483635600,19.04,1483675200,0.97,16.76,...,1483592400,2,1483635600,6.71,319,7.16,1483675200,1.48,01-05,2017
0,20.01,1515186000,-0.17,1515243600,20.01,1515186000,8.54,1515135600,0.66,0.59,...,1515128400,2,1515171600,10.00,294,7.56,1515182400,1.68,01-05,2018
0,40.89,1231275600,26.75,1231333200,40.97,1231293600,33.37,1231232400,1.00,34.95,...,1231218000,2,1231261200,4.59,121,6.21,1231218000,0.53,01-06,2009
0,23.72,1262815200,15.73,1262869200,23.72,1262815200,11.10,1262757600,0.82,12.05,...,1262754000,2,1262797200,8.79,279,8.96,1262800800,1.93,01-06,2010
0,36.11,1294340400,23.14,1294365600,36.11,1294340400,23.14,1294365600,0.71,21.36,...,1294290000,2,1294333200,9.91,272,24.15,1294347600,4.77,01-06,2011
0,62.80,1325880000,47.31,1325941200,62.80,1325880000,40.14,1325851200,0.07,30.32,...,1325826000,2,1325869200,10.00,211,12.55,1325880000,4.58,01-06,2012
0,37.86,1357488000,20.67,1357563600,38.87,1357455600,27.73,1357516800,0.95,27.70,...,1357448400,2,1357491600,9.66,259,13.61,1357506000,3.07,01-06,2013
0,-10.99,1389009600,-14.67,1389060000,7.55,1388984400,-15.65,1389024000,0.73,-5.93,...,1388984400,2,1389027600,9.83,282,22.38,1388984400,7.47,01-06,2014
0,32.88,1420574400,8.26,1420635600,32.88,1420574400,15.84,1420603200,0.91,16.12,...,1420520400,2,1420563600,10.00,283,11.20,1420603200,2.28,01-06,2015
0,44.88,1452110400,19.15,1452157200,44.88,1452110400,20.80,1452074400,0.01,17.48,...,1452056400,2,1452099600,10.00,173,8.79,1452099600,0.62,01-06,2016
0,17.65,1483732800,5.30,1483765200,18.32,1483678800,11.03,1483725600,0.73,5.18,...,1483678800,2,1483722000,10.00,331,9.18,1483729200,2.38,01-06,2017
0,22.10,1515272400,10.24,1515297600,22.10,1515272400,-0.17,1515243600,0.00,0.25,...,1515214800,2,1515258000,10.00,32,4.59,1515265200,0.08,01-06,2018
0,37.85,1231797600,33.09,1231812000,37.85,1231797600,28.41,1231765200,0.73,27.60,...,1231736400,2,1231779600,9.17,188,8.70,1231815600,2.37,01-12,2009
0,31.64,1263326400,15.96,1263387600,31.64,1263326400,17.00,1263286800,0.78,17.86,...,1263272400,2,1263315600,7.58,334,7.96,1263272400,1.86,01-12,2010
0,15.46,1294862400,11.32,1294880400,15.46,1294862400,9.09,1294837200,1.00,14.21,...,1294808400,2,1294851600,7.17,273,20.13,1294855200,8.00,01-12,2011
0,42.79,1326380400,6.68,1326438000,42.94,1326366000,8.43,1326427200,1.00,31.90,...,1326344400,2,1326387600,5.82,252,20.79,1326405600,7.01,01-12,2012
0,67.31,1358020800,58.78,1358082000,67.80,1358049600,57.93,1357970400,0.81,59.16,...,1357966800,2,1358010000,9.87,177,15.85,1358046000,3.10,01-12,2013
0,51.85,1389560400,44.12,1389578400,51.85,1389560400,33.64,1389524400,0.12,32.12,...,1389502800,2,1389542400,10.00,199,13.26,1389585600,2.41,01-12,2014
0,38.23,1421082000,19.21,1421154000,38.23,1421082000,25.83,1421121600,1.00,32.82,...,1421038800,2,1421082000,4.99,2,12.54,1421103600,1.99,01-12,2015
0,31.31,1452603600,10.21,1452686400,31.41,1452589200,16.23,1452643200,0.52,18.44,...,1452574800,2,1452618000,9.31,255,23.88,1452618000,4.49,01-12,2016
0,68.18,1484247600,33.01,1484312400,68.18,1484247600,39.85,1484276400,0.98,53.55,...,1484197200,2,1484240400,9.25,220,19.78,1484197200,4.72,01-12,2017
0,32.06,1515787200,14.60,1515848400,58.52,1515733200,21.00,1515816000,0.99,33.62,...,1515733200,2,1515776400,3.69,333,15.73,1515751200,2.44,01-12,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,48.21,1261512000,36.94,1261569600,48.21,1261512000,34.38,1261486800,0.81,33.85,...,1261458000,2,1261501200,5.79,111,7.13,1261512000,1.91,12-22,2009
0,33.74,1293019200,24.41,1293069600,37.33,1292994000,21.13,1293044400,0.94,27.13,...,1292994000,2,1293037200,6.75,316,17.88,1293040800,4.66,12-22,2010
0,45.81,1324576800,39.14,1324645200,48.39,1324530000,43.66,1324558800,0.97,42.72,...,1324530000,2,1324573200,6.94,319,4.63,1324530000,0.44,12-22,2011
0,39.20,1356210000,29.52,1356242400,39.20,1356210000,19.41,1356159600,0.02,18.53,...,1356152400,2,1356195600,10.00,253,10.00,1356152400,1.61,12-22,2012
0,54.03,1387713600,28.91,1387792800,61.56,1387688400,36.11,1387767600,0.94,47.82,...,1387688400,2,1387731600,9.50,231,16.92,1387713600,3.68,12-22,2013
0,52.43,1419274800,50.62,1419307200,52.82,1419300000,32.95,1419224400,1.00,37.15,...,1419224400,2,1419267600,9.91,129,8.62,1419274800,0.89,12-22,2014
0,60.13,1450818000,53.36,1450832400,60.13,1450818000,53.20,1450828800,0.75,53.44,...,1450760400,2,1450803600,9.58,199,11.51,1450760400,1.58,12-22,2015
0,44.86,1482436800,26.44,1482469200,44.86,1482436800,27.01,1482465600,0.10,27.92,...,1482382800,2,1482426000,9.88,313,9.56,1482426000,0.89,12-22,2016
0,57.38,1513965600,38.72,1514034000,57.38,1513965600,54.26,1513947600,0.98,52.61,...,1513918800,2,1513962000,7.25,209,10.98,1513929600,1.97,12-22,2017
0,43.33,1545516000,31.09,1545537600,43.33,1545516000,29.00,1545465600,0.57,27.97,...,1545454800,2,1545498000,10.00,249,22.43,1545462000,2.80,12-22,2018
0,24.56,1262044800,20.10,1262091600,25.83,1262052000,13.74,1261976400,0.91,19.08,...,1261976400,2,1262019600,9.68,258,18.80,1262026800,6.74,12-28,2009
0,37.55,1293573600,28.44,1293620400,37.55,1293573600,16.89,1293541200,0.31,18.66,...,1293512400,2,1293555600,8.52,208,12.17,1293562800,2.33,12-28,2010
0,40.64,1325109600,33.54,1325149200,40.64,1325109600,30.20,1325070000,0.73,28.84,...,1325048400,2,1325091600,10.00,269,11.85,1325059200,3.15,12-28,2011
0,37.16,1356732000,32.11,1356786000,37.16,1356732000,31.39,1356699600,0.98,27.96,...,1356670800,2,1356714000,8.88,113,6.51,1356717600,1.49,12-28,2012
0,50.29,1388257200,39.33,1388304000,50.29,1388257200,30.96,1388235600,0.35,27.54,...,1388206800,2,1388250000,9.96,185,8.47,1388253600,1.19,12-28,2013
0,38.51,1419768000,30.30,1419858000,47.91,1419742800,34.82,1419825600,1.00,34.85,...,1419742800,2,1419786000,8.55,337,10.97,1419753600,1.48,12-28,2014
0,63.37,1451347200,44.39,1451394000,65.83,1451350800,37.62,1451289600,0.96,45.48,...,1451278800,2,1451322000,8.50,80,16.75,1451350800,3.04,12-28,2015
0,52.42,1482958800,37.77,1483016400,52.42,1482958800,25.40,1482930000,0.31,29.43,...,1482901200,2,1482944400,9.79,148,9.26,1482955200,1.12,12-28,2016
0,25.21,1514494800,17.15,1514516400,25.21,1514494800,7.23,1514469600,0.50,5.19,...,1514437200,2,1514480400,10.00,66,9.26,1514473200,1.69,12-28,2017
0,59.65,1546023600,30.53,1546059600,59.65,1546023600,31.84,1546056000,0.76,45.19,...,1545973200,2,1546016400,9.50,257,25.31,1546030800,4.59,12-28,2018
0,34.09,1262116800,24.33,1262167200,34.09,1262116800,20.10,1262091600,0.37,17.23,...,1262062800,2,1262106000,10.00,337,8.40,1262066400,1.10,12-29,2009
0,35.71,1293667200,36.40,1293678000,39.48,1293681600,28.44,1293620400,0.78,28.28,...,1293598800,2,1293642000,8.02,159,7.99,1293656400,2.82,12-29,2010
0,55.04,1325188800,44.34,1325228400,55.04,1325188800,33.54,1325149200,0.41,31.99,...,1325134800,2,1325178000,10.00,201,19.43,1325192400,4.57,12-29,2011
0,33.44,1356804000,19.65,1356858000,33.44,1356804000,19.85,1356832800,1.00,27.97,...,1356757200,2,1356800400,6.33,291,12.93,1356836400,2.55,12-29,2012
0,46.43,1388350800,24.43,1388408400,46.43,1388350800,27.60,1388376000,0.97,36.18,...,1388293200,2,1388336400,7.56,265,15.74,1388361600,2.14,12-29,2013
0,37.52,1419890400,26.79,1419944400,37.52,1419890400,28.25,1419912000,0.91,27.55,...,1419829200,2,1419872400,9.75,27,9.47,1419868800,2.62,12-29,2014
0,45.06,1451390400,40.53,1451473200,52.70,1451365200,41.42,1451408400,0.98,38.17,...,1451365200,2,1451408400,10.00,239,14.41,1451386800,3.59,12-29,2015
0,42.19,1483038000,29.45,1483102800,45.15,1482987600,34.95,1483059600,0.50,30.63,...,1482987600,2,1483030800,10.00,273,19.36,1483045200,4.88,12-29,2016
0,30.28,1514574000,26.42,1514602800,30.28,1514574000,20.53,1514523600,0.92,14.17,...,1514523600,2,1514566800,10.00,248,5.18,1514574000,0.65,12-29,2017
0,37.75,1546113600,32.45,1546171200,37.75,1546113600,30.53,1546059600,0.91,25.45,...,1546059600,2,1546102800,10.00,296,7.02,1546059600,1.45,12-29,2018

In [36]:
all_weather = sqlite3.connect("Weather_summary.db")
potential_days = pd.read_sql_query("SELECT MM_DD, Year, apparentTemperatureHigh, apparentTemperatureLow, precipAccumulation FROM 'weather summary'",all_weather)
potential_days

,MM_DD,Year,apparentTemperatureHigh,apparentTemperatureLow,precipAccumulation
0,01-05,2009,33.56,30.57,NaN
1,01-05,2010,19.43,11.10,NaN
2,01-05,2011,36.80,26.28,NaN
3,01-05,2012,54.80,40.14,NaN
4,01-05,2013,45.04,36.93,NaN
5,01-05,2014,54.30,-13.89,NaN
6,01-05,2015,24.81,22.60,NaN
7,01-05,2016,37.79,20.80,NaN
8,01-05,2017,25.38,11.89,0.041
9,01-05,2018,20.01,-0.17,NaN
10,01-06,2009,40.89,26.75,NaN
11,01-06,2010,23.72,15.73,NaN
12,01-06,2011,36.11,23.14,NaN
13,01-06,2012,62.80,47.31,NaN
14,01-06,2013,37.86,20.67,NaN
15,01-06,2014,-10.99,-14.67,NaN
16,01-06,2015,32.88,8.26,NaN
17,01-06,2016,44.88,19.15,NaN
18,01-06,2017,17.65,5.30,NaN
19,01-06,2018,22.10,10.24,NaN
20,01-12,2009,37.85,33.09,NaN
21,01-12,2010,31.64,15.96,NaN
22,01-12,2011,15.46,11.32,NaN
23,01-12,2012,42.79,6.68,NaN
24,01-12,2013,67.31,58.78,NaN
25,01-12,2014,51.85,44.12,NaN
26,01-12,2015,38.23,19.21,NaN
27,01-12,2016,31.31,10.21,0.087
28,01-12,2017,68.18,33.01,NaN
29,01-12,2018,32.06,14.60,NaN
...,...,...,...,...,...
1060,12-22,2009,48.21,36.94,NaN
1061,12-22,2010,33.74,24.41,NaN
1062,12-22,2011,45.81,39.14,NaN
1063,12-22,2012,39.20,29.52,NaN
1064,12-22,2013,54.03,28.91,NaN
1065,12-22,2014,52.43,50.62,NaN
1066,12-22,2015,60.13,53.36,NaN
1067,12-22,2016,44.86,26.44,NaN
1068,12-22,2017,57.38,38.72,NaN
1069,12-22,2018,43.33,31.09,NaN
1070,12-28,2009,24.56,20.10,NaN
1071,12-28,2010,37.55,28.44,NaN
1072,12-28,2011,40.64,33.54,NaN
1073,12-28,2012,37.16,32.11,0.159
1074,12-28,2013,50.29,39.33,NaN
1075,12-28,2014,38.51,30.30,NaN
1076,12-28,2015,63.37,44.39,NaN
1077,12-28,2016,52.42,37.77,NaN
1078,12-28,2017,25.21,17.15,NaN
1079,12-28,2018,59.65,30.53,NaN
1080,12-29,2009,34.09,24.33,NaN
1081,12-29,2010,35.71,36.40,NaN
1082,12-29,2011,55.04,44.34,NaN
1083,12-29,2012,33.44,19.65,0.487
1084,12-29,2013,46.43,24.43,NaN
1085,12-29,2014,37.52,26.79,NaN
1086,12-29,2015,45.06,40.53,NaN
1087,12-29,2016,42.19,29.45,NaN
1088,12-29,2017,30.28,26.42,NaN
1089,12-29,2018,37.75,32.45,NaN

In [27]:
all_weather = sqlite3.connect("Weather_summary.db")
potential_days_2 = pd.read_sql_query('SELECT MM_DD AS "Date", apparentTemperatureHigh AS "Avg Apparent Highs", apparentTemperatureLow AS "Avg Apparent Lows" FROM "weather summary" WHERE AVG(apparentTemperatureHigh) < 80 AND AVG(apparentTemperatureLow) > 50 GROUP BY MM_DD', all_weather)
potential_days_2
# SELECT column_name(s)
# FROM table_name
# WHERE condition
# GROUP BY column_name(s)
# ORDER BY column_name(s);

DatabaseError: Execution failed on sql 'SELECT MM_DD AS "Date", apparentTemperatureHigh AS "Avg Apparent Highs", apparentTemperatureLow AS "Avg Apparent Lows" FROM "weather summary" WHERE AVG(apparentTemperatureHigh) < 80 AND AVG(apparentTemperatureLow) > 50 GROUP BY MM_DD': misuse of aggregate: AVG()

In [56]:
potential_days_count = potential_days.groupby('MM_DD').count()
potential_days_count

,Year,apparentTemperatureHigh,apparentTemperatureLow,precipAccumulation
MM_DD,,,,
01-12,1,1,1,0
02-02,1,1,1,0
02-09,1,1,1,0
02-10,2,2,2,0
02-16,1,1,1,0
02-17,1,1,1,0
02-23,2,2,2,0
03-03,1,1,1,0
03-09,4,4,4,0
03-10,3,3,3,0
03-16,2,2,2,0
03-17,2,2,2,0
03-23,3,3,3,0
03-24,3,3,3,0
03-30,2,2,2,0
03-31,2,2,2,0
04-06,4,4,4,0
04-07,5,5,5,0
04-13,3,3,3,0
04-14,6,6,6,0
04-20,1,1,1,0
04-21,5,5,5,0
04-27,4,4,4,0
04-28,6,6,6,0
05-04,3,3,3,0
05-05,3,3,3,0
05-11,3,3,3,0
05-12,3,3,3,0
05-18,5,5,5,0
05-19,4,4,4,0
...,...,...,...,...
09-14,3,3,3,0
09-15,3,3,3,0
09-21,5,5,5,0
09-22,2,2,2,0
09-28,6,6,6,0
09-29,8,8,8,0
10-05,5,5,5,0
10-06,1,1,1,0
10-12,7,7,7,0
10-13,4,4,4,0
10-14,5,5,5,0
10-19,1,1,1,0
10-20,3,3,3,0
10-26,5,5,5,0
10-27,3,3,3,0
10-28,1,1,1,0
11-02,2,2,2,0
11-03,4,4,4,0
11-09,1,1,1,0
11-10,2,2,2,0
11-16,1,1,1,0
11-17,2,2,2,0
11-23,2,2,2,0
11-30,1,1,1,0
12-01,2,2,2,0
12-07,1,1,1,0
12-14,1,1,1,0
12-15,1,1,1,0
12-21,3,3,3,0
12-22,2,2,2,0

In [29]:
precip_days = pd.read_sql_query("SELECT MM_DD,precipAccumulation FROM 'weather summary'",all_weather)
precip_count = precip_days.groupby('MM_DD').count()
precip_count.head(5)

       precipAccumulation
MM_DD
01-05                   1
01-06                   0
01-12                   1
01-13                   1
01-19                   0

In [28]:
hi_low_days = pd.read_sql_query("SELECT MM_DD, apparentTemperatureHigh, apparentTemperatureLow FROM 'weather summary'",all_weather)
avg_hi_low_days = hi_low_days.groupby('MM_DD').mean()
avg_hi_low_days.head()

       apparentTemperatureHigh  apparentTemperatureLow
MM_DD
01-05                   35.192                  18.625
01-06                   30.790                  16.188
01-12                   41.668                  24.698
01-13                   34.858                  22.158
01-19                   41.471                  29.881

In [ ]:
candidate_days = avg_hi_low_days.apparentTemperatureHigh(filter(lambda x: x < 80))

In [23]:
#groupby MM_DD avg high
hi_days = pd.read_sql_query("SELECT MM_DD, apparentTemperatureHigh FROM 'weather summary'",all_weather)
avg_hi_days = hi_days.groupby('MM_DD').mean()
avg_hi_days.head()

       apparentTemperatureHigh
MM_DD
01-05                   35.192
01-06                   30.790
01-12                   41.668
01-13                   34.858
01-19                   41.471

In [25]:
#groupby MM_DD avg Low
low_days = pd.read_sql_query("SELECT MM_DD, apparentTemperatureLow FROM 'weather summary'",all_weather)
avg_low_days = low_days.groupby('MM_DD').mean()
avg_low_days.head()

       apparentTemperatureLow
MM_DD
01-05                  18.625
01-06                  16.188
01-12                  24.698
01-13                  22.158
01-19                  29.881

In [24]:
#avg_days = avg_hi_days.merge(avg_low_days, on ='MM_DD')
avg_days_precip_count = avg_hi_low_days.merge(precip_count, on ='MM_DD')
avg_days_precip_count.head()

NameError: name 'avg_hi_low_days' is not defined

In [23]:
plt.plot(avg_days_precip_count)

NameError: name 'avg_days_precip_count' is not defined